venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.env
.venv/
.vscode/
.idea/

backend/logs/
backend/data/raw_pdfs/
backend/data/vector_store/
backend/data/*.db

frontend/flutter_app/.dart_tool/
frontend/flutter_app/build/
frontend/flutter_app/.flutter-plugins
frontend/flutter_app/.flutter-plugins-dependencies
